<div class="admin"
     x-show="showAdmin"
     hx-ext="sse"
     sse-connect="{{config.mountpoint}}/sse">
    <hr class="mt-1">
    {{>admin/oben}}
    <hr class="mt-0">
    {{>admin/unten}}
    <hr class="">
</div>
