<body>
    {{> header}}
    {{> main}}
    {{> footer}}
    <div id="spinner">
        <img src="{{config.mountpoint}}/img/favicon.png"
             alt="Loading..."
             width="60"
             height="60">
    </div>
</body>
