<header>
    {{> header}}
</header>
<main>
    {{> main}}
</main>
<footer>
    {{> footer}}
</footer>
<div id="spinner">
    <img src="img/favicon.png"
         alt="Loading..."
         width="60"
         height="60">
</div>
