{{!--
message: err.message,
error: JSON.stringify(process.env.NODE_ENV === "production" ? undefined : err),
--}}
<div class="error">
    <p>Error: {{{message}}}</p>
    {{#if error}}
    <p>Details:</p>
    <code>{{{error}}}</code>
    {{/if}}
</div>
