<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jukebox</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">
    <link rel="icon"
          type="image/x-icon"
          href="{{config.mountpoint}}/img/favicon.ico">
    <link rel="stylesheet"
          href="{{config.mountpoint}}/css/juke.css">
    <script src="{{config.mountpoint}}/js/htmx.js"></script>
    <script src="{{config.mountpoint}}/js/script.js"
            defer></script>
</head>
{{> body }}

</html>
