body {
    justify-content: center;
    align-items: center;
    text-align: center;
    line-height: 1.5;
    background-color: #222;
    color: #ccc;
    font-family: verdana;
    padding: 7px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #333;
    color: #ccc;
    padding: 10px;
}

ul {
    list-style-type: none;
}

ul.results {
    list-style-type: none;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 5px;
    box-sizing: border-box;
}

li {
    text-align: left;
    display: flex;
    align-items: center;
}

li>* {
    display: inline;
}

h3 {
    color: #ccc;
}

form {
    color: #ccc;
    border-color: #f00;
    white-space: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
}

a {
    color: #77f;
}

table {
    width: 100%;
    border-collapse: collapse;
    /*table-layout: fixed;*/
}

li>audio {
    margin-right: 1em;
    width: 30em;
    height: 2em;
}

a.visited {
    color: #f77;
}

input {
    color: #ccc;
    background-color: #433;
    border-color: #ccc;
}

.admin {
    border: 1px solid lightblue;
    border-radius: 5px;
}

.error {
    color: #f00;
    font-weight: bold;
}

.toast {
    transition-property: opacity;
    transition-duration: 2s;
    transition-timing-function: ease-in-out;
    opacity: 1;
    padding: 1em;
    background: #ccc;
    position: fixed;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 1em;
}

.fade-out {
    opacity: 0;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
}

.fixed-width-col-sm {
    width: 15%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fixed-width-col-lg {
    width: 45%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: start;
}

#spinner {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}

#spinner> :first-child {
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
